<!DOCTYPE html>
<html lang="es">
<head>
	<title>nodeTube - express yourself</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%- css('modern') %>
	<%- css('modern-responsive') %>
	<%- css('application') %>
	<%- css('video-js') %>
	<%- css('facebox') %>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<%- js('facebox') %>
	<%- js('video') %>
	<%- js('application') %>
</head>
<body>
	<header class="page">
		<div class="nav-bar bg-color-darken">
			<div class="nav-bar-inner padding20">
				<span class="pull-menu"></span>
				<a href="/">
					<span id="logo" class="element brand">
						nodeTube
						<small> express yourself</small>
					</span>
				</a>
				<span id="searchSpan" class="element">
					<form id="search">
						<div class="input-control text">
		        			<input type="text" placeholder="busca un video..." />
		        			<button class="btn-search"></button>
		    			</div>
	    			</form>
    			</span>
			</div>
		</div>
	</header>
	<article class="page">
				<video id="video_box" class="video-js vjs-default-skin" controls
  					preload="auto" width="640" autoplay height="360" poster="my_video_poster.png">
						<source src="/video/1" type='video/mp4'/>
				</video>		
	</article>
	<article class="page bg-color-blueLight padded">
		<div class="videos"> <!-- here goes the tiles -->
			<div class="tile image larger">
				<div class="tile-content">
					<img src="/truhan.png">
				</div>
				<div class="brand bg-color-blue">
					<p class="text">Título del video</p>
				</div>
			</div>
			<div class="tile image larger">
				<div class="tile-content">
					<img src="">
				</div>
				<div class="brand bg-color-blue">
					<p class="text">Título del video</p>
				</div>
			</div>
			<div class="tile image larger">
				<div class="tile-content">
					<img src="">
				</div>
				<div class="brand bg-color-blue">
					<p class="text">Título del video</p>
				</div>
			</div>	
			<div class="tile image larger">
				<div class="tile-content">
					<img src="">
				</div>
				<div class="brand bg-color-blue">
					<p class="text">Título del video</p>
				</div>
			</div>	
			<div class="tile image larger">
				<div class="tile-content">
					<img src="">
				</div>
				<div class="brand bg-color-blue">
					<p class="text">Título del video</p>
				</div>
			</div>	
			<div class="tile image larger">
				<div class="tile-content">
					<img src="">
				</div>
				<div class="brand bg-color-blue">
					<p class="text">Título del video</p>
				</div>
			</div>	
			<div class="tile image larger">
				<div class="tile-content">
					<img src="">
				</div>
				<div class="brand bg-color-blue">
					<p class="text">Título del video</p>
				</div>
			</div>	
			<div class="tile image larger">
				<div class="tile-content">
					<img src="">
				</div>
				<div class="brand bg-color-blue">
					<p class="text">Título del video</p>
				</div>
			</div>	
			<div class="tile image larger">
				<div class="tile-content">
					<img src="">
				</div>
				<div class="brand bg-color-blue">
					<p class="text">Título del video</p>
				</div>
			</div>				
		</div>	
	</article>
	<footer class="page">
		<div class="nav-bar bg-color-darken">
			<div class="nav-bar-inner padding10">
				<span class="element">
					<time>2012</time> Sistemas y tecnologías web - Víctor Mora Afonso
				</span>
			</div>
		</div>
	</footer>
</body>
</html>